body, html {
	background-color: #1f2833;
	color: 	#F0FFFF;
}

#form-description-container {
}

#page-container {
	overflow-x: auto;
	background-color: #2F4454;
	width: 80%;
	margin: 2% 10% 2% 10%;
	border-radius:5px;
	padding: 8px;
}

.error-container {
	overflow-x: auto;
	background-color: #2F4454;
	width: 60%;
	margin: 2% 20% 2% 20%;
	border-radius:5px;
	padding: 8px;
}

#userTable {
    min-width: 100%;
	border: 0px;
}

th, td{
	padding: 5px;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #F0FFFF;
}

button {
	display:block;
	margin: 5px 0 5px 0;
}