@font-face {
	font-family: 'dotsfont';
	src: url('../fonts/disc.eot');
	src: url('../fonts/disc.eot?#iefix') format('embedded-opentype'),
		url('../fonts/disc.woff') format('woff'), url('../fonts/disc.ttf')
		format('truetype'), url('../fonts/disc.svg#dotsfontregular')
		format('svg');
}

body, html {
	height: 100%;
}

.page-container {
	height: 100%;
	background-color: #1f2833;
	color: 	#F0FFFF;
}

#login-container-left {
	float:left;
	width:55%;
	height:100%;
}

#login-container-right {
	float:right;
	width:45%;
	padding: 0 0 0 50px;
	height:100%;
	padding: 10% 0 10% 30px;
	overflow:auto;
}

#username {
	width: 200px;
}

#password {
	width: 200px;
	font-family: dotsfont;
}

#login-form {
	background-color: #2F4454;
	width:80%;
	padding: 6px 6px 6px 6px;
	border-radius: 5px;
}

button {
	display:block;
	margin: 5px 0 5px 0;
}

.newacc-container {
	text-align: center;
	padding: 2% 10% 0 10%;
}

.newacc-form {
	padding: 0 30% 0 30%;
}

#signup-form {
	text-align: left;
	background-color: #2F4454;
	width:100%;
	padding: 6px 6px 6px 6px;
	border-radius: 5px;
}