<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Formers Web Application</display-name>
	<servlet>
		<servlet-name>PrinterServlet</servlet-name>
		<servlet-class>formers.ui.servlet.Printer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminDashBoard</servlet-name>
		<servlet-class>formers.ui.servlet.AdminDashboardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewFormSubmit</servlet-name>
		<servlet-class>formers.ui.servlet.NewFormSubmitServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FormView</servlet-name>
		<servlet-class>formers.ui.servlet.FormViewServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserDashboardServlet</servlet-name>
		<display-name>UserDashboardServlet</display-name>
		<description></description>
		<servlet-class>formers.ui.servlet.UserDashboardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FormResponseServlet</servlet-name>
		<display-name>FormResponseServlet</display-name>
		<description></description>
		<servlet-class>formers.ui.servlet.FormResponseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminFormViewServlet</servlet-name>
		<display-name>AdminFormViewServlet</display-name>
		<description></description>
		<servlet-class>formers.ui.servlet.AdminFormViewServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FormResultPreviewServlet</servlet-name>
		<display-name>FormResultPreviewServlet</display-name>
		<description></description>
		<servlet-class>formers.ui.servlet.FormResultPreviewServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FormResultServlet</servlet-name>
		<display-name>FormResultServlet</display-name>
		<description></description>
		<servlet-class>formers.ui.servlet.FormResultServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PrinterServlet</servlet-name>
		<url-pattern>/cool</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminDashBoard</servlet-name>
		<url-pattern>/mainadmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewFormSubmit</servlet-name>
		<url-pattern>/submitform</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FormView</servlet-name>
		<url-pattern>/viewform</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserDashboardServlet</servlet-name>
		<url-pattern>/mainuser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FormResponseServlet</servlet-name>
		<url-pattern>/respondform</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminFormViewServlet</servlet-name>
		<url-pattern>/allforms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FormResultPreviewServlet</servlet-name>
		<url-pattern>/FormResultPreviewServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FormResultServlet</servlet-name>
		<url-pattern>/formresult</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>fontslogin.html</welcome-file>
	</welcome-file-list>
</web-app>
